@model List<newrisourcecenter.Models.WeeklyEmail>

@{
    ViewBag.Title = "Stockcheck";
    Layout = null;
}

@*@ViewBag.WeeklyEmail


       @foreach (var item in Model)
       {
           <div>@item.sc_headline
        <br />
        @item.sc_products
        </div>
    <br />
           <br />
       }*@



