<div class="sidenav">
    <div class="claim">
        <a title="To the Rittal homepage" href="http://www.rittal.us" class="claim-link">
            <img alt="Rittal – The System." src="~/images/80_1157.png">
        </a>
    </div>
</div>