<div id="slider_image"  align="left" >
    <span style="width:90%;position:relative;left:10px;top:0px;height:300px;font-size:15px;" >
        The RiSource Center is a permission-based sales support site for Rittal internal and external sales and Rittal’s channel partners. It is not meant for customers with the exception of selected key accounts. If you are unsure if your company has already been approved for RiSource Center access, please contact our Customer Service team at <a href="mailto:customerservice@rittal.us?Subject=RiSourceCenter%20access%20request" target="_top">customerservice@rittal.us</a>.
       <p style="margin-top:10px;">@Html.ActionLink("Click here to request access to the RiSource Center.", "RegisterTemp", null, htmlAttributes: new { @id = "access_id",@style= "font-weight:bolder;" })</p>      
    </span>
</div>

@*<div  class="shadow" valign="top">
    <img class='opaque' src="https://www.risourcecenter.com/images/rittalflag.jpg" />
</div>*@

@*<div id="slider_image" class="shadow" valign="top">
        <div class="img"><img class='opaque' src="https://www.risourcecenter.com/images/rittalflag.jpg" /></div>
        <div class="img"><img src="https://www.risourcecenter.com/images/rittalflag.jpg" /></div>
        <div class="img"><img src="https://www.risourcecenter.com/images/IT-image.jpg" /></div>
        <div class="img"><img src="https://www.risourcecenter.com/images/the-system-image.jpg" /></div>
        <div class="img"><img src="https://www.risourcecenter.com/images/ts8s.jpg" /></div>
    </div>
    <div id="slider_controls" style="displ">
        <span class="selected"></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
*@