body {
    padding-top: 10px;
    padding-bottom: 40px;
}
tr:nth-child(even) {background: #efefef;}
tr:nth-child(even):hover {background: #CCC;color:#808080;}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}


.form-horizontal .control-label {
    text-align: left;
}

/*Style the home page tiles*/
.tile.rittal-pink {background: #E50043;box-shadow: #696969 0px 2px 10px 1px; border: solid #E50043 1px;}
.tile.rittal-violet {background: #93117E;box-shadow: #696969 0px 2px 10px 1px; border: solid #93117E 1px;}
.tile.rittal-dark {background: #005EA8; box-shadow: #696969 0px 2px 10px 1px;border: solid #005EA8 1px;}
.tile.rittal-lightblue{background: #008BD0; box-shadow: #696969 0px 2px 10px 1px;border: solid #008BD0 1px;}
.tile.rittal-green{background: #008E4F;box-shadow: #696969 0px 2px 10px 1px;border: solid #008E4F 1px;}
.tile.rittal-black{background: #000;box-shadow: #696969 0px 2px 10px 1px;border: solid #000 1px;}
.tile:hover {opacity: 1;box-shadow: #696969 0px 0px 50px -1px;transition: 0.7s ease-out;}
.tile {margin-left:5%;margin-bottom:5%;width: 88%;display: block;cursor: pointer;-webkit-perspective: 0;-webkit-transform-style: preserve-3d;-webkit-transition: -webkit-transform .2s ease-out;transition: .2s ease-out;float: left;min-width: 75px;min-height: 0px;text-align: center;opacity: .75; z-index: 1;border: 4px #fff solid;color: #fff;outline:0px;}
@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }

    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }

    40% {
        transform: rotateZ(17deg);
    }

    60% {
        transform: rotateZ(16deg);
    }

    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}
@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}

.customerClass.ng-enter {animation: scaleUp 0.5s both ease-out;}
.productsClass.ng-enter {animation: scaleUp 0.5s both ease-in;}
.participantsClass.ng-enter {animation: scaleUp 0.5s both ease-in;}
.addtodownloads {
    background-color: #E50043;
    color: #fff !important;
    height: 20px;
    padding: 2px 10px 10px 10px;
    font-size: 10px;
}
