@{
    ViewBag.Title = "This site is under maintenance";
}
<div class="main_content">
    <h2 style="text-align:center;">@ViewBag.Title</h2>
    <br />
    <br />
    <address style="text-align:center;">
        <h4>Should you have any questions?</h4>
        <strong> Contact:</strong>  <a href="mailto:presswala.z@rittal.us?Subject=RiSourceCenter%20issues" target="_top">Samuel Antwi</a><br />
    </address>
</div>
