@{
    ViewBag.heading = "Account Denied";
}
<article id="main_content" align="center">
    <div class="row" align="center">
        <h2 style="color:#E50043;">@ViewBag.heading</h2>

        <section id="confirmationForm" align="center">
            <div>
                <p>
                    <br>
                    <h4>
                        The account for <strong class="req">@ViewBag.email</strong> has been denied.
                    </h4>
                    <br>
                    <br>
                </p>
            </div>
        </section>
    </div>
</article>


