@{

    ViewBag.heading = "Your email has been sent.";
}
<article id="main_content" align="center">
    <div class="row" align="center">
        <h2 style="color:#E50043;">@ViewBag.heading</h2>

        <section align="center">
            <br />
            <h4>
                Please check your email or junk-email box to reset your password.
            </h4>
            <br />
        </section>
    </div>
</article>