@{
    ViewBag.heading = "Account Access";
}
<article id="main_content" align="center">
    <div class="row" align="center">
        <h3 style="color:#E50043;">Thank you for requesting a RiSource Center account. The next step is to verify your email address.</h3>

        <section id="confirmationForm" align="center">
            <div>
                <p>
                    <br>
                    <h4>
                        Be on the lookout for an email from <a href="mailto:webmaster@rittal.us">webmaster@rittal.us</a> that includes a verification step. If it doesn't appear in your Inbox in the next few minutes, please check your Junk mail as well.
                    </h4>
                    <br>
                    <br>
                </p>
            </div>
        </section>
    </div>
</article>
