@{
    ViewBag.heading = "Reset password confirmation";
}
<article id="main_content" align="center">
    <div class="row" align="center">

        <hgroup class="title">
            <h2 style="color:#E50043;">@ViewBag.heading</h2>
        </hgroup>
        <section id="resetPassForm" align="center">
            <div>
                <p>
                    <br />
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { @style= "color:#E50043;", id = "loginLink" })
                    <br />
                    <br />
               </p>
            </div>
        </section>
    </div>
</article>