@{
    ViewBag.Title = "Pricing And Availability";
}
<div class="main_content">
    <hr id="header_bar" />
    <iframe src="/Home/stockcheck" width="100%" height="400" frameborder="0"></iframe>
</div>
