<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.38.238.100,1433;Initial Catalog=RisourceCenterDotNet;Persist Security Info=True;User ID=usrVideo;Password=Newday+Server2016;Connection Timeout=100;" providerName="System.Data.SqlClient"/>
    <add name="RisourceCenterMexicoEntities" connectionString="metadata=res://*/Models.RiSourceCenterDB.csdl|res://*/Models.RiSourceCenterDB.ssdl|res://*/Models.RiSourceCenterDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.38.238.100,1433;initial catalog=RisourceCenterDotNet;persist security info=True;user id=usrVideo;password=Newday+Server2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="RittalUSEntities" connectionString="metadata=res://*/Models.RisourceCenterDB.csdl|res://*/Models.RisourceCenterDB.ssdl|res://*/Models.RisourceCenterDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.38.238.10,1433;initial catalog=RittalUS;persist security info=True;user id=sam;password=e4&gt;FQ&gt;z%$34;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="RittalUSAPIEntities" connectionString="metadata=res://*/Models.RittalUSModel.csdl|res://*/Models.RittalUSModel.ssdl|res://*/Models.RittalUSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.38.238.10,1433;initial catalog=RittalUS;persist security info=True;user id=zahid;password=yaAllah786;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=10.38.238.100,1433;Initial Catalog=RisourceCenterDotNet_Prod;Persist Security Info=True;User ID=usrVideo;Password=Newday+Server2016;" providerName="System.Data.SqlClient" />
    <add name="RittalDataConnection" connectionString="Data Source=10.38.238.100,1433;Initial Catalog=rittal_data;Persist Security Info=True;User ID=zahid;Password=yaAllah786;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="RittalUSConnection" connectionString="Data Source=10.38.238.100,1433;Initial Catalog=RittalUS;Persist Security Info=True;User ID=zahid;Password=yaAllah786;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="RisourceCenterMexicoEntities" connectionString="metadata=res://*/Models.RiSourceCenterDB.csdl|res://*/Models.RiSourceCenterDB.ssdl|res://*/Models.RiSourceCenterDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.38.238.100,1433;initial catalog=RisourceCenterDotNet_Prod;persist security info=True;user id=usrVideo;password=Newday+Server2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RittalUSEntities" connectionString="metadata=res://*/Models.RisourceCenterDB.csdl|res://*/Models.RisourceCenterDB.ssdl|res://*/Models.RisourceCenterDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.38.238.100,1433;initial catalog=RittalUS;persist security info=True;user id=sam;password=e4&gt;FQ&gt;z%$34;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RittalUSAPIEntities" connectionString="metadata=res://*/Models.RittalUSModel.csdl|res://*/Models.RittalUSModel.ssdl|res://*/Models.RittalUSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.38.238.100,1433;initial catalog=RittalUS;persist security info=True;user id=zahid;password=yaAllah786;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="Host" value="10.38.1.32" />-->
    <!--<add key="Host" value="10.38.0.114" />-->
    <add key="Host" value="10.201.4.30" />
    <!-- Change Commission Admin users Id -->
    <add key="Level2Manager" value="40,60912,61272,61777" />
    <add key="SFTP:server" value="visonas.visographic.com" />
    <add key="SFTP:userName" value="rittal" />
    <add key="SFTP:password" value="B`%4`HzP2WB(s{m8" />
    <add key="SFTP:port" value="22" />
    <add key="SFTP:path" value="/" />
    <!-- BI SFTP Server -->
    <add key="BI-SFTP:server" value="10.38.1.27" />
    <add key="BI-SFTP:userName" value="bisftp" />
    <add key="BI-SFTP:password" value="R1t3i$SFTP!" />
    <add key="BI-SFTP:port" value="22" />
    <add key="BI-SFTP:path" value="/" />
    <add key="BidRegistrationAdminNav" value="30161" />
    <add key="RFQPartDimensionVariance" value="50" />
    <add key="RFQExcludeAccounts" value="641176" />
    <add key="VisoUsers" value="messer.c@rittal.us,corbolotti.m@rittal.us,mauldin.b@rittal.us,milam.m@rittal.us,acharyya.s@rittal.us,klemstein.a@rittal.us,deliivanov.i@rittal.us,prichard.a@rittal.us,fabris.c@rittal.us,clark.r@rittal.us,delaporte.r@rittal.us,bluhm.j@rittal.us,soloway.b@rittal.us" />
    <add key="additionalCommApprover" value="solari.a@rittal.us" />
    <add key="RFQToolTesters" value="" />
    <add key="RFQNewToolAccess" value="" />
    <add key="RFQToolSubmissionRecipients" value="Dalton.D@rittal.us,parker.s@rittal.us,presswala.z@rittal.us" />
    <add key="BidRegistrationNav" value="30159" />
    <add key="NationalManagerCompanies" value="186,455,40864,41086"/>
    <add key="NationalManagerCompanyLocations" value="64:61824,189:496"/>
    <add key="NationalChannelManagerEmail" value="barth.j@rittal.us"/>
    <add key="NationalChannelManagerName" value="Jim Barth"/>
    <add key="MarketingTeamEmails" value="bertrand.c@rittal.us,mancini.g@eplanusa.com" />
    <add key="UserInactiveNotificationCutoff" value="90" />
    <add key="UserInactiveCutoff" value="120" />
    <add key="UserDeleteCutoff" value="365" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms timeout="50" />
    </authentication>
    <compilation targetFramework="4.8" debug="true" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="20480" />
    <sessionState mode="InProc" cookieless="false" timeout="80" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <!--Rewrite links-->
    <rewrite>
      <rules>
        <rule name="stockinglist" stopProcessing="true">
          <match url="^stockinglist$" />
          <action type="Redirect" url="https://www.risourcecenter.com/distributors/Distributor-Recommended-Stocking-List.xlsx" />
        </rule>
        <rule name="termsconditions" stopProcessing="true">
          <match url="^termsconditions$" />
          <action type="Redirect" url="https://www.risourcecenter.com/literature/pdf/Standard_Terms_and_Conditions-End_Customer.pdf" />
        </rule>
        <rule name="distributoragreement" stopProcessing="true">
          <match url="^distributoragreement$" />
          <action type="Redirect" url="https://www.risourcecenter.com/distributors/Rittal-Authorized-Distributor-Agreement.doc" />
        </rule>
        <rule name="shareform" stopProcessing="true">
          <match url="^shareform$" />
          <action type="Redirect" url="https://www.risourcecenter.com/distributors/Annual-Distributor-Share-Verification-Form.pdf" />
        </rule>
        <rule name="apr" stopProcessing="true">
          <match url="^apr$" />
          <action type="Redirect" url="https://www.risourcecenter.com/distributors/Area-of-Primary-Responsibility-APR.pdf" />
        </rule>
        <rule name="policymanual" stopProcessing="true">
          <match url="^policymanual$" />
          <action type="Redirect" url="https://www.risourcecenter.com/distributors/Channel-Policy-Manual.pdf" />
        </rule>
        <rule name="productauth" stopProcessing="true">
          <match url="^productauth$" />
          <action type="Redirect" url="https://www.risourcecenter.com/distributors/Product-Authorizations-Discount-Level.pdf" />
        </rule>
        <rule name="rebate" stopProcessing="true">
          <match url="^rebate$" />
          <action type="Redirect" url="https://www.risourcecenter.com/distributors/Rittal-Distributor-Annual-Rebate.pdf" />
        </rule>
        <rule name="pricelistpdf" stopProcessing="true">
          <match url="^pricelistpdf$" />
          <action type="Redirect" url="https://www.risourcecenter.com/distributors/Rittal-Distributor-Price-List.pdf" />
        </rule>
        <rule name="inventoryreporting" stopProcessing="true">
          <match url="^inventoryreporting$" />
          <action type="Redirect" url="https://www.risourcecenter.com/distributors/Rittal-POS-Inventory-Reporting.pdf" />
        </rule>
        <rule name="pricelistspreadsheet" stopProcessing="true">
          <match url="^pricelistspreadsheet$" />
          <action type="Redirect" url="https://www.risourcecenter.com/distributors/Rittal-Distributor-Price-List.xlsx" />
        </rule>
      </rules>
    </rewrite>
    <!--Rewrite links-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <location path="RittalUniversity/Edit">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="102428800" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="102428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="RittalUniversity/Create">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="102428800" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="102428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="RiSources/Create">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="1002428800" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="1002428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="RiSources/Edit">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="1002428800" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="1002428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="ReturnTool/Create">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="102428800" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="102428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="ReturnTool/Edit">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="102428800" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="102428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="RFQTool/Create">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="102428800" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="102428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="RFQTool/Edit">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="102428800" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="102428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="MDFView/ap">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="102428800" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="102428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <location path="MDFView/ApEdit">
    <system.web>
      <!-- 50MB in kilobytes, default is 4096 or 4MB-->
      <httpRuntime maxRequestLength="102428800" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="102428800" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: B6B27292-40C5-4752-9C51-E955D8CB46D2-->