@{
    ViewBag.Title = "Contact Us";
}
<div class="main_content">
    <div style="border:solid 1px #808080;padding:20px;">
        <h3>@ViewBag.Title</h3><br />
        <address>
            <h4>Questions related to the website (ex. login, functionality issues)?</h4>
            <strong> Contact:</strong>  <a href="mailto:presswala.z@rittal.us?Subject=RiSourceCenter%20issues" target="_top">Zahid Presswala</a><br />
        </address>

        <address>
            <h4>Questions on price & availability?</h4>
            <strong> Contact:</strong> <a href="mailto:customerservice@rittal.us?Subject=RiSourceCenter%20issues" target="_top">Customer Service</a><br />
        </address>

        <address>
            <h4>Questions on RFQ’s?</h4>
            <strong> Contact:</strong> <a href="mailto:quotes@rittal.us?Subject=RiSourceCenter%20issues" target="_top">Quotes Team</a><br />
        </address>

        <address>
            <h4>Technical questions on our products?</h4>
            <strong> Contact:</strong> <a href="mailto:techsupport@rittal.us?Subject=RiSourceCenter%20issues" target="_top">Tech Support</a><br />
        </address>

        <address>
            <h4>Want to check order status?</h4>
            <strong> Contact:</strong> <a href="mailto:customerservice@rittal.us?Subject=RiSourceCenter%20issues" target="_top">Customer Service</a><br />
        </address>

        <address>
            <h4>Questions on returned product?</h4>
            <strong> Contact:</strong> <a href="mailto:returns@rittal.us?Subject=RiSourceCenter%20issues" target="_top">Returns Team</a><br />
        </address>

        <address>
            <h4>Questions on service?</h4>
            <strong> Contact:</strong> <a href="mailto:service@rittal.us?Subject=RiSourceCenter%20issues" target="_top">Service Team</a><br />
        </address>

        <address>
            <h4>Need to find your Industrial Regional Channel Manager?</h4>
            <input type="text" class="rcm-zipcode" placeholder="Enter Your Zipcode" style="height:35px;" />
            <button type="button" class="btn-rcm-lookup btn btn-primary" style="height:35px;">Lookup</button>
        </address>
        <div class="rcm-wrapper" style="display:none;position:relative;margin-top:10px;"></div>

        <address>
            <h4>Need to Find Your IT Territory Manager?</h4>
            <input type="text" class="tm-zipcode" placeholder="Enter Your Zipcode" style="height:35px;" />
            <button type="button" class="btn-tm-lookup btn btn-primary" style="height:35px;">Lookup</button>
        </address>
        <div class="tm-wrapper" style="display:none;position:relative;margin-top:10px;"></div>

        <br/><br/>
    </div>
</div>